.main-wrapper {
    margin: 0 1rem;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

.button-wrapper__title {
    color: var(--creemy);
    margin-top: 2rem;
    padding-bottom: 1rem;
    font-family: 'Antic Didone', serif;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 3px;
}
