.motivation-wrapper__quote-page,
.motivation-wrapper__joke-page,
.motivation-wrapper__art-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.text-motivation__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.art__wrapper {
    display: flex;
    flex-direction: column;
}

.loading {
    text-align: center;
    color: var(--ashy);
    font-size: 28px;
    padding-top: 10rem;
}

.motivation-wrapper__quote-page,
.motivation-wrapper__joke-page,
.motivation-wrapper__art-page {
    color: var(--creemy);
}

.text-motivation__title {
    margin-top: 2rem;
    font-size: 50px;
    color: var(--ashy);
    font-family: 'Antic Didone', serif;
    font-weight: 800;
    letter-spacing: 3px;
}
.text-motivation__text {
    font-size: 30px;
    padding-bottom: 1.5rem;

}

.text-motivation__by {
    text-align: right;
    font-size: 12px;

}